<h1></h1>
<div>
    <form action="" method="">
        <label for="">When:
            <input type="date" name="date">
        </label>
        <label for="">Where:
            <input type="text" name="location">
        </label>
        <label for="">Budget:
            <input type="number" name="budget">
        </label>

        <button type="submit">Search Event</button>
    </form>
</div>