<h1>SEARCH YOUR EVENT</h1>
<p>Enter below your preference towards Date, Location and Budget and see which event suits you better.</p>
<div>
    <form action="../views/searchEvent.hbs" method="post">
        <label for="">When:
            <input type="date" name="date">
        </label>
        <label for="">Where:
            <input type="text" name="location">
        </label>
        <label for="">Budget:
            <input type="number" name="budget">
        </label>

        <button type="submit">Search Event</button>
    </form>
</div>